/* You can add global styles to this file, and also import other style files */
body
 {
background-image: url(https://store-images.s-microsoft.com/image/apps.32521.13571498826857201.95677c47-950c-4d90-80e4-2359f8f477ff.96e7a8d1-c501-429b-b7eb-3e3ebfe68f62?mode=scale&q=90&h=1080&w=1920);
background-size: 100% 100%;
background-attachment: fixed;

 }

 app-artist-search {
   position: fixed;
   top: 0;
   width: 100%;

 }


