
/*font styles*/
/*----------*/

@font-face {
  font-family: 'MyFont';
  src:url('../fonts/amatic/Amatic-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
 
}

/*element selectors*/
/*----------------*/

/*applying box-sizing property in order to stablish same-sized boxes*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: MyFont, Ubuntu, Arial, TimesNewRoman, sans-serif;
}

body > *:nth-child(odd) {
    /*background: #fff;
    opacity: 0.8;*/
   background-color: rgba(74, 115, 148, 0.4);
}

body > *:nth-child(even) {
    /*background: #eee;*/
    background-color: rgba(13, 47, 94, 0.4);
}

header{
  top: 0;
}


/*Class elements*/

.header {
  padding-top: 1rem;
  width: 100%;
  font-size: 3.286rem;
}

.header,
.footer {
  text-align: center;
}




/*Media queries*/
/*------------*/

@media screen and (max-width:599px) {
  body > * {
    width: 100%;

  }
  .footer{
    position: relative;
    bottom: 0rem;
  
  }

.sidebar {
   display: none;
  }
  
}

@media screen and (min-width:600px) and ( max-width: 960px ) {
  body > * {
    width: 100%;

  }
  .navigation {
    display: inline-block;
    vertical-align: top;
  }

  .content {
    display: inline-block;
    vertical-align: top;
  }

  .sidebar {
    display: inline-block;
    vertical-align: top;

  }
  .footer {
    font-size: 0.714rem; /*10px*/
    min-width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0rem;
    margin: 0;
  } 
}

@media screen and ( min-width: 961px ) {

  /* Here we see a white-space problem with the inline-block layout*/
  /* Comment to Andres : See if margin-left solution is a good practise, or must be avoided*/
  .navigation {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-left: -0.1em
  }

  .content {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: -0.1em

  }

  .sidebar {
    display: inline-block;
    vertical-align: top;
    width: 25%;
   margin-left: -0.1em 
  }

}

