<div class="col s12 m5">
  <nav>
    <div class="nav-wrapper green">
      <form>
        <div class="input-field">
          <input class="green" type="search" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchArtist()"
            placeholder="search Music">
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>

            <div *ngFor="let artist of artists" style="background-color: black">
            <li>
              <img src="{{artist.images['2']?.url}}" alt="">
              <span>{{artist.name}}</span>
            </li>
          </div>

        </div>
      </form>
    </div>
  </nav>
</div>
