<div class="row black">
  <div class="col s12 m6">
    <div class="brand-logo right">
      <h5 class="green-text "><i class="material-icons md-100 md-light md-inactive">music_note</i>SpotiFavs</h5>

    </div>
  </div>
  <div class="col s12 m5">
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input class="green" id="search" type="search" required>
            <label class="label-icon" for="search">
              <i class="material-icons">search</i>
            </label>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
