.x1{
	height: 40px;
	background-color:#DB646C; 
}
.x2{
	height: 80px;
	background-color:#E8E863;
}
.x3{
	height: 120px;
	background-color:#608FC9;
}
.x4{
	height: 160px;
	background-color:#70B76A;
}
.x5{
	height: 200px;
	background-color:#F4B270;
}
.x6{
	height: 240px;
	background-color:#BAA787;
}
.x7{
	height: 280px;
	background-color:#E5B7E0;
}