@font-face {
    font-family: 'Syncopate';
    src: url(https://fonts.gstatic.com/s/syncopate/v9/pe0sMIuPIYBCpEV5eFdCBfe_.woff2);
}

html {
  /* subtlepatterns.com */
    background: url("http://neilcarpenter.com/demos/asfalt.png") repeat;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #858781;
}

h1 {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: 'Syncopate', Helvetica, Arial;
}

section {
    text-align: center;
}

.fade {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    visibility: visible;
    display: block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

ul {
    list-style: none;
    width: 60%;
    margin-left: 20%;
}

.forAvatars {
    float: left;
    margin: 0 0 0 0;
}

.forLi {
    padding: 10px;
    overflow: auto;
}

input {
    width: 30%;
}