<form>
<h1 class="text-center">Details Movie</h1>
<div class="container text-center">
<div class="row">
  <div class="col-xs-4 size">
    <div class="thumbnail">
      <div class="caption">
        <h2>{{movie.title}}</h2>
        <span class="glyphicon glyphicon-calendar"></span><p>{{movie.year}}</p>
        <span class="glyphicon glyphicon-film"></span><p>{{movie.type}}</p>
        <span class="glyphicon glyphicon-user"></span><p>{{movie.director}}</p>
        <span class="glyphicon glyphicon-pencil"></span><p>{{movie.description}}</p>
      </div>
    </div>
  </div>
</div>
</div>
</form>