<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Angular JS</title>
  </head>
  <body>
  <div ng-controller='MainCtrl'>
  <form class="form-inline">
    <div class="form-group">
      <h2>Movie List</h2>
      <label for="tite" class="sr-only">Title: </label>
      <div class="input-group">
      <input id="search" class="form-control" type="text" placeholder="Search for movie" autofocus ng-model="query" >
      </div>
      <label for="" > List By:
        <select name="genre" ng-model="orderMovies" class="btn btn-default dropdown-toggle">
        <option value="genre">Genre</option>
        <option value="title">Title</option>
        <option value="description">Description</option>
        </select>
      </label>
    </div>
  </form>
  <div class='list-group-item' ng-repeat='item in movies | filter: query | orderBy: orderMovies'>
    <h3>{{item.title}}</h3>
    <h5>{{item.genre}}</h5>
    <h5>{{item.description}}</h5>
  </div>
</div>

    <div>
        <div ng-controller="MainCtrl">
            <button ng-click="addMovie(atitle, adirector, ayear, agender)">Add <span>{{item.atitle}}</span></button>
            <button ng-click="pop()">Pop </button>
            <ul>
              <li ng-repeat="item in movies track by $index">{{item.title}}</li>
              
            </ul>
             <form id="movies form">
      <ul>
        <li>
            <input type="text" ng-model="aname">
        </li>
        <li>
            <input type="text" ng-model="adirector">
        </li>
        <li>
            <input type="text" ng-model="ayear">
        </li>
        <li>
          <input type="text" ng-model="agender">
        </li>
        </ul>
      </form>

        </div>
    </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  </body>
</html>