.days {
	margin-left: 70px;
	text-align: center;
}

.v{
	width: 1px;
	height: 500px;
}

.daymonday{
	padding-left: 100px;
	 font: oblique bold 100% cursive;
	 color: #F8FDFD;
	 text-align: center;
}

.skills{
	padding-left: 70px;
	font: oblique bold 100% cursive;
	color: #F8FDFD;
	text-align: center;
}

.day{
	padding-left: 170px;
	font: oblique bold 100% cursive;
	color: #F8FDFD;
	text-align: center;
	}

body{
	background-position: center center;
	background: radial-gradient(ellipse, black, white);
}

th, td {
    border-bottom: 2px solid #080808;
}
