.days {
	margin-left: 70px;
}

hr.v{
width: 1px;
height: 500px;
}

td.daymonday{
	
	padding-left: 100px;
	 font: oblique bold 100% cursive;
	 color: #F8FDFD;
}

td.skills{
	padding-left: 70px;
	font: oblique bold 100% cursive;
	color: #F8FDFD;
}

td.day{
	
	padding-left: 170px;
	font: oblique bold 100% cursive;
	color: #F8FDFD;
	}

body{
	 background-position: center center;
	background: radial-gradient(ellipse, black, white);
}

th, td {
    border-bottom: 2px solid #080808;
}

h3, h4{
	text-align: center;
}