@media only screen and (min-width: 300px) and (max-width: 500px){
    span {
        margin-bottom: 5px;
    }

    section .row .column
    .form-style-2 input.input-field {
        width: 150px;
    }

    section .row
    .form-style-2 .textarea-field {
        width: 100%;
    }

    #btns button {
        margin: auto;
        display: block;
    }
}

@media only screen and (min-width: 501px) and (max-width: 751px){
    span {
        margin-bottom: 5px;
    }

    section .row .column
    .form-style-2 input.input-field {
        width: 150px;
    }

    section .row
    .form-style-2 .textarea-field {
        width: 100%;
    }

    #btns button {
        margin: auto;
        display: block;
    }
}



.form-style-2 {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    margin-right: 25%;
    margin-left: 30%;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}

.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 .input-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}

.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}

.btnSubmit {
    -moz-box-shadow:inset 0px 0px 8px -36px #3dc21b;
    -webkit-box-shadow:inset 0px 0px 8px -36px #3dc21b;
    box-shadow:inset 0px 0px 8px -36px #3dc21b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767),
     color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767',
     endColorstr='#5cbf2a',GradientType=0);
    background-color:#44c767;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:10px 23px;
   text-decoration:none;
   text-shadow:0px 1px 0px #2f6627;
}

.btnSubmit:hover {
    background: #13660a;
}

.btnClean {
    -moz-box-shadow:inset 0px 0px 8px -36px #91b8b3;
    -webkit-box-shadow:inset 0px 0px 8px -36px #91b8b3;
    box-shadow:inset 0px 0px 8px -36px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87),
     color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87',
     endColorstr='#6c7c7c',GradientType=0);
    background-color:#768d87;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:2px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:10px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2b665e;
}

.btnClean:hover {
    background: #590117;
}

#btns label {
    display: inline;
}

input[placeholder], textarea[placeholder] {
    font-style: italic;
}

#btns button {
    margin: 5px auto;
    display: block;

}
