
/* A complete Guide to Grid = https://css-tricks.com/snippets/css/complete-guide-grid */

.header{
	width: 100%;
	height: 250px;
	font-family: 'Hind', sans-serif;
}

.header h1 {
	float: left;
	font-weight: 600;
	margin-left: 30px;
	
}

.header p {
	float: right;
	font-weight: 300;
	margin-left: 300px;
	margin-right: 50px;
}
.container {
    display: grid; /*generates a block-level grid */
    grid-template-columns: repeat(auto-fill, 250px); 
    grid-gap: 5px;
    justify-content: center;
    }

.item {
    border-radius: 5px;
    padding: 2px;
    background: #f2f2f2;
    }

.item img {
	max-width: 100%;
    }


    
.level-1 {
	grid-row-end: span 2;
    }

 .level-2 {
 	grid-row-end: span 1;
    }

.level-3 {
    grid-row-end: span 2;
    }



