*{
	font-weight: bold;
}
header[class=header]{
	font-size: 46px;
	background-color: magenta;
}
.footer{
	font-size: 10px;
	background-color: magenta;
}
.content{
	font-size: 14px;
}
nav[class=navigation]{
	font-size: 12px;
	background-color: blue;
}
.sidebar{
	font-size: 10px;
}