.header,.footer,.sidebar,.navigation{
    background-color: grey;
}

.header,.footer{
    text-align: center;
}
*{
    font-family: courier;
    font-size: 14px;
    font-size:var(font-size)+10px;
}

/*---Ejercicio 2.3-3 ---*/
.header{
    font-size: 46px;
}
.footer{
    font-size: 10px;
}
.content{
    font-size:14px;
}
.navigation{
    font-size: 12px;
}
.sidebar{
    font-size:10px;
}
/*---Ejercicio 2.3-4---*/
[class$="r"]{
    background-color:magenta;
}

/*---Ejercicio 2.3-5---*/
[class*="a"]:not([class$="r"]){
    background-color: blue;
}

/*---Ejercicio 2.3-6---*/
*{
    font-weight: bold;
}

/*---Ejercicio 2.3-7
al no poder modificar el codigo, para que no se pise el cambio al momento que carga el html 
se debe utilizar la siguiente linea de codigo:
    .oh-no-inline-styles {
     background-color: green!important;
    }
---*/
