
header, article, footer{
    background-color: black;
    color:white;
    text-align: center;
}
#top_header {
    font-size: 200%;

}
#bottom_footer {
    font-size: 200%;
}
#right_aside{
    padding: 2%;
    width: 10%;
    height: 60%;
    text-align: center;
    display: inline-block;
    background-color: rgb(251, 255, 0);
    color:rgb(8, 0, 0);
    margin-right: 0%;
}

#left_nav{
    padding: 2%;
    width: 10%;
    height: 60%;
    text-align: center;
    display: inline-block;
    background-color: red;
    color:white;
    margin-left: 1%;


}
#contenedor {
    padding: 2%;
    width: 60%;
    height: 40%;
    display: inline-block;
    text-align: center;
    background-color: blue;
    color:white;
    margin:2%;

}