html,body{
	margin:5px;
	height:100%;
	text-align: center;
	font-family: Times;
	font-size: 14px;/*!important point 6*/
}

*{
	border-radius: 15px;
  box-sizing: border-box;
}

.header{
	width: 100%;
	min-height: 25%;
	background: #ff00ff;
	color: #ffffff;
	margin: 2px;
	font-size: 46px;
}

.footer{
	background: #ff00ff;
	clear: both;
	height: 15%;
	margin: 2px;
	font-size: 10px;
}

.content{
	float:left;
	width: 33%;
  height: calc(59% - 18px);
	margin: 2px;
	font-size: 14px;
}

.navigation{
	float:left;
	background: #0000FF;
	width: 33%;
	height: 59%;
	margin: 2px;
	font-size: 12px;
}

.sidebar{
	float:left;
	background: #ff00ff;
	width: 33%;
	height: 59%;
	margin: 2px;
	font-size: 10px;
}

article{
	background: #867968;
	width: 99%;
	height: 58%;
	margin: 2px;
}

section > .header {
	background: #546554;
	width: 99%;
	height: 25%;
	margin: 2px;
}

section > .footer{
	background: #546554;
	width: 99%;
	height: 15%;
	margin: 2px;
}

[class*="a"] {
    background: blue;
}

[class$="r"] {
    background: magenta !important;
}
