html,body {
    background-color:grey;
    font-family: "Times New Roman", Georgia, Serif;
    height: 100%;
    width:100%;
}
section {
  text-align:center;
}

#hidden {
  display:none;
  font-size: 40px;
}
