header, section, nav, aside, footer {
    display: block;
}

.wrapper {
    height: 4000px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#hidden {
    background-color: #FF9;
    color: #000000;
    display:none;
    font-size: 25px;
    font-family: Arial;
    height: 200px;
    position: absolute;
    top: 200px;
    width: 200px;
}

h1 {
    color: #000000;
    cursor: pointer;
    font-size: 25px;
    font-family: Arial;
    position: absolute;
    top: 1150px;
}
