#results-button{
  float: right;
}
#searchList{
  height: 65vh;
  overflow-y: scroll;
  font-size: 100%;
  }

  #Result-Title{

    color: ghostwhite;
    font-family:Verdana;
    text-shadow: 2px 2px 3px rgb(9, 255, 0);
    font-size: 3vh;
  }
