<!DOCTYPE html>
<html>
<head>
	<title>Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header>
		<h1>Showcase</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</header>
	<section class="container">
		<div class="baires">
			<div>Obelisk - Buenos Aires, Argentina</div>
			<img src="baires.jpg">
		</div>
		<div class="london">
			<div>London Eye and Big Ben - London, England</div>	
			<img src="london.jpg">
		</div>
		<div class="mexico">
			<div>Monument of Independence, Mexico D.F, Mexico</div>	
			<img src="mexico.jpg">
		</div>
		<div class="newyork">
			<div>Brooklyn Bridge, New York, United States</div>
			<img src="newyork.jpg">
		</div>
		<div class="paris">
			<div>Eiffel Tower, Paris, France</div>
			<img src="paris.jpg">
		</div>
		<div class="rome">
			<div>Colisuem, Rome, Italy</div>
			<img src="rome.jpg">
		</div>		
	</section>
</body>
</html>