html,body {

   height: 100%;
   width: 100%;

}




.header { text-align:center;
   height:20%;
  width:97%;
color:green;
background-color: grey;
border-radius: 25px;
 margin: 10px;

}


.secheader { text-align:center;
   height:20%;
  width:95%;
color:pink;
background-color:silver;
border-radius: 25px;
margin: 10px;
float:left;
}

.secarticle { text-align:center;
   height:35%;
  width:95%;
color:black;
background-color: silver;
border-radius: 25px;
margin: 10px;
float:left;

}

.secfooter { text-align:center;
   height:20%;
  width:95%;
color:white;
background-color: silver;
border-radius: 25px;
margin: 10px;
float:left;
}

.nav { text-align:center;
   height:70%;
  width:23%;
color:blue;
background-color: grey;
border-radius: 25px;
margin: 10px;
float:left;
}

.section { text-align:center;
   height:70%;
  width:48%;
color:red;
background-color: grey;
border-radius: 25px;
 margin: 10px;
 float:left;
}

.aside {  text-align:center;
   height:70%;
  width:23%;
color:yellow;
background-color: grey;
border-radius: 25px;
 margin: 10px;
 float:left;
}

.footer {
   text-align:center;
   height:9%;
  width:97%;
  color:brown;
  background-color:grey;
  border-radius:25px;
  margin: 10px;
  float:left;

}
