.header {
    font-size: 46px;
    background-color: #FF00FF;
}

.footer {
    font-size: 10px;
    background-color: #FF00FF;
}

.content {
    font-size: 14px;
}

.navigation {
    font-size: 12px;
    background-color: #0000FF;
}

.sidebar {
    font-size: 10px;
    background-color: #FF00FF;
}