body {
    background: #353333;
}

.bordeRedondo {

  border-radius: 0.3em;
  background: #7C7C7C;
}

.header1 {
  background: #7C7C7C;
  position: absolute;
  left:0; top:0;
  width: 418px;
  height: 50px;
  left: 7px;
  top: 8px;
  text-align: center;
  border-radius: 0.3em;
}


.navigation {
  position: relative;
  background: #7C7C7C;
  width: 96;
  height: 195;
  top: 60px;
  text-align: center;
  border-radius: 0.3em;
}

.sidebar {
  position: relative;
  background: #7C7C7C;
  width: 96;
  height: 195;
  top: -135px;
  left: 320px;
  text-align: center;
  border-radius: 0.3em;
}

.footer1 {
  position: relative;
  background: #7C7C7C;
  width: 418px;
  height: 40px;
  top: -127px;
  left: 0px;
  text-align: center;
  border-radius: 0.3em;
}


.content {
  position: relative;
  background: #7C7C7C;
  width: 195px;
  height: 195px;
  top: -370px;
  left: 111px;
  text-align: center;
  border-radius: 0.3em;
}

.header2 {
  position: relative;
  background: #9F9F9F;
  width: 179px;
  height: 32px;
  top: 25px;
  left: 7px;
  text-align: center;
  border-radius: 0.3em;
}

.article {
  position: relative;
  background: #9F9F9F;
  width: 179px;
  height: 85px;
  top: 30px;
  left: 7px;
  text-align: center;
  border-radius: 0.3em;
}

.footer2 {
  position: relative;
  background: #9F9F9F;
  width: 179px;
  height: 32px;
  top: 35px;
  left: 7px;
  text-align: center;
  border-radius: 0.3em;
}


/*
header {
    background: blue;
    position: absolute;
    left:0; top:0;
    width: 418px;
    height: 50px;
    left: 7px;
    top: 8px;
}

nav {
    position: relative;
    background: yellow;
    width: 96;
    height: 195;
    top: 60px;
}
aside {
    position: relative;
    background: green;
    width: 96;
    height: 195;
    top: -135px;
    left: 320px;
}

footer1 {
    position: relative;
    background: pink;
    width: 418px;
    height: 40px;
    top: -127px;
    left: 0px;
}*/




/*

HEADER2
article {
    position: relative;
    background: brown;
}
footer2

*/
