<!DOCTYPE html>
<html ng-app="moviesApp">
<head>
	<title>Movie List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.6.6/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.6.6/angular-resource.min.js"></script>
	<script src="js/mainController.js"></script>
	<script src="js/movies.js"></script>
</head>
<body ng-controller="mainController">
	<form ng-submit="addMovie()">
		<label for="name">Movie Name</label>
		<input type=text id="name" required="" ng-model="newMovie.title"><br><br>
		
		<label for="duration">Movie Duration (minutes)</label>
		<input type=number id="duration" required="" min=1 max=300 ng-model="newMovie.duration"><br><br>
		<label for="year">Movie Year</label>
		<input type=number id="year" required="" min=1950 max=2030 ng-model="newMovie.year"><br><br>
		<button type="submit" id="btnSubmit">Add Movie</button>
	</form>
	<br><button ng-click="clearAll()" id="btnClr">Clear All</button>
	<button id="btnFinish" ng-click="finishEdit()" style="visibility: hidden;">Finish</button>
	<hr>
	<h1 style="text-align: center;">MOVIES LIST</h1>
	<hr>
	<ul style="list-style: none">
		<li ng-repeat="movie in movieList">
			<input type="text" readonly="" value={{movie.title}} style="width: 300px;">
			<input ng-show="showDetails" type="text" readonly="" value={{movie.year}} style="width: 40px;">
			<input ng-show="showDetails" type="text" readonly="" value={{movie.duration}}min style="width: 50px;">
			<a ng-hide="editMode" id="edit" href="#" ng-click="editMovie(movie)"> edit</a>
			<a ng-hide="editMode" id="remove" href="#" ng-click="removeMovie(movie.title)"> remove</a>
		</li>
	</ul>
	<button ng-click="details()">View More Details</button>
</body>
</html>