.header {
    background: #333;
	color: white;
	height: 9%;
	
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
}
.add_m
{
    background-color: white;
    float: left;
    width: 40%;
    height: 250px;
    margin: 1%;
    position: fixed;
    left: 0;
    top:60px;

}

input,select ,fieldset {
    padding-top: 2%;
    background-color:whitesmoke;
    width: 95%;
    font-size: 100%;
    margin: 1%;
    padding: 1%;
}
.movie_list{
    background-color: yellow;
    position: relative;
    width: 55%;
    padding:4px;
    top:80px;
    float: right;

}

@media only screen and (max-width: 600px) {

    .add_m{
        width: 100%;
        position: absolute;
        top: 15%;
    }
    .movie_list{
        width: 100%;
        position: absolute;
        top: 75%;
    }
}