header, footer, aside, nav {
   background-color: #696969;
 }

/* --------------------------------------------------------------------------*/

* {
  font-size: 14px;
  font-family: cursive;
  color: #D8BFD8
}

/*---------------------------------------------------------------------------*/

header, footer {
  text-align: center;
}


/*---------------------------------------------------------------------------*/

.header{
  font-size: 46px;
}

.footer{
  font-size: 10px;
}

.content{
  font-size: 14px;
}
.navigation{
  font-size: 12px;
}

.sidebar{
  font-size: 10px;
}

/*---------------------------------------------------------------------------*/

[class$="r"] {
 background-color: magenta;
}
/*---------------------------------------------------------------------------*/
[class*="a"]:not([class$="r"]) {
 background-color: blue;
}
/*---------------------------------------------------------------------------*/
