
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://pbs.twimg.com/media/DXYVpG6U8AEjb8z.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="https://pbs.twimg.com/media/DXYVpG6U8AEjb8z.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="https://pbs.twimg.com/media/DXYVpG6U8AEjb8z.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="https://pbs.twimg.com/media/DXYVpG6U8AEjb8z.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="https://pbs.twimg.com/media/DXYVpG6U8AEjb8z.jpg"></a>
</div>
<div class="row green-text z-depth-5 center" style="margin-top: 2%">
    <h3 class="">Today's Hit</h3>
</div>
