body { 
	font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	background-image: url("imagen.jpg");
	color: #F9F9F8 
} 

.contactform {
	padding-left:80px;
	position:relative;
}

.requirednotification {
	color:red;
	padding-left:100px;
}

.contactformli {
	margin: 10px 10px 10px 10px;
	
}

.inputs {
	position: absolute;
	margin-left:5%;
}

.buttons {
	margin: 80px 80px 80px 80px;
	position:absolute;
	
}