*{
  font-family : "Palatino Linotype", "Times New Roman";
  font-size : 14px;
  color : #5a5858;
}
.container{
  width : 100%;
}
.header {
  width : 100%;
  height : 10%;
  margin-bottom : 1%;
  background-color : #a5a4a4;
}
.header h1 {
  text-align : center;
}
.navigation {
  width : 20%;
  height : 70%;
  background-color : #baa88b;
  position : absolute;
  
}
.navigation ul {
  padding : 30%;
}
.navigation ul li {
  list-style-type : none;
  margin : 20%;
}
.navigation ul li a{
  text-decoration : none;
  color : grey;
}
.sidebar {
  width : 20%;
  height : 70%;
  background-color : #baa88b;
  position : absolute;
  right : 0%;
}
.sidebar h3 {
  text-align : center;
}
.sidebar p {
  text-align : center;
  padding : 5%;
}
.content {
  width : 60%;
  height : 70%;
  background-color : #d8ccb8;
  position : absolute;
  right : 20%;

}
.mid-sect-header h2 {
  text-align : center;
}
.mid-sect-article p {
  padding : 10%;
  margin : 1%;
  text-align : center;
  background-color : #e2c79e;
}
.mid-sect-footer{
  text-align : center;
  background-color : #a5a4a4;
  margin : 2%;
}
.footer {
  position : absolute;
  text-align : center;
  bottom : 0;
  width : 100%;
  height : 60px;
  background-color : #a5a4a4;
}