<div class="card text-white bg-dark my-3">
  <div class="card-body p-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">New Movie</span>
      </div>
      <input type="text"   [(ngModel)]="selectedMovie.title" placeholder="title" class="form-control mx-1">
      <input type="number" [(ngModel)]="selectedMovie.year" placeholder="year" class="form-control mx-1">
      <input type="number" [(ngModel)]="selectedMovie.duration" placeholder="duration" class="form-control mx-1">
      <button class="btn btn-success px-5"(click)="addNew()">Add</button>
    </div>
  </div>
</div>

<div class="card text-white bg-dark my-1" *ngIf="editShow">
  <div class="card-body p-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Edit Panel</span>
        <input type="text" [(ngModel)]="editedMovie.title"        placeholder="title"       class="form-control ml-5 mr-3">
        <input type="text" [(ngModel)]="editedMovie.year"         placeholder="year"        class="form-control mx-3">
        <input type="text" [(ngModel)]="editedMovie.duration"     placeholder="duration"    class="form-control mx-3">
        <button class="btn btn-success px-5 ml-5" (click)="confirmEdit()" >Confirm</button>

      </div>
    </div>
  </div>
</div>




<div class="card text-white bg-dark my-3 text-center">
  <div class="card-body p-2 text-center">
    <div class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Duration</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr class="" *ngFor="let movie of movieList">
          <td>{{movie.id}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.year}}</td>
          <td>{{movie.duration}}</td>
          <button class="btn btn-primary m-1%" (click)="openEdit(movie)" [class.Active]="movie == selectedMovie">Edit</button>
          <button class="btn btn-danger m-1%" (click)="delete(movie)">Delete</button>
        </tr>
      </tbody>
    </div>
  </div>
</div>



