html,body {
    width:100%;
    height: 100%;
    background-color:#4F5151;
    font-family: "Times New Roman", Georgia, Serif;
}
.header {
    font-size: 46px;
    background-color: magenta;
    text-align: center;
    color: white;
    height: 10%;
    width: 99%;
    border-radius: 15px;
}
.navigation {
    font-size: 12px;
    height:50%;
    width:22%;
    float:left;
    color:white;
    background-color: magenta;
    border-radius: 15px;
    margin: 10px;
    text-align:center;
}
.content {
    font-size: 14px;
    height:50%;
    width:50%;
    float: left;;
    color:white;
    background-color: blue;
    border-radius: 15px;
    margin: 10px;
    text-align:center;
}
.content_header {
    font-size: 14px;
    height:20%;
    width:95%;
    float: left;
    color:black;
    background-color: magenta;
    border-radius: 15px;
    margin: 10px;
    text-align:center;
}
.content_article {
    font-size: 14px;
    height:30%;
    width:95%;
    float: left;
    color:black;
    background-color: #A5EB32;
    border-radius: 15px;
    margin: 10px;
    text-align:center;
}
.content_footer {
    font-size: 14px;
    height:20%;
    width:95%;
    float: left;
    color:black;
    background-color: magenta;
    border-radius: 15px;
    margin: 10px;
    text-align:center;
}
.sidebar {
    font-size: 10px;
    height:50%;
    width:22%;
    float:left;
    color:white;
    background-color: magenta;
    border-radius: 15px;
    margin: 10px;
    text-align:center;
}
.footer {
    font-size: 10px;
    background-color: magenta;
    text-align: center;
    float: left;
    color: white;
    height: 10%;
    width: 99%;
    border-radius: 15px;
}
