*{
  font-size: 14px;
  font-family: cursive;
}

h1{
  color: red;
}

section{

}
article{
  background-color: blue;
}

.header{
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 46px;
  background-color: magenta;
}



.footer{
  width: 100%;
  height: 5%;
  font-size: 10px;
  background-color: magenta;
}


.content{
height: 90%;
width: 40%;
font-size: 14px;
float: left;

}

.navegation{
float: left;
width: 30%;
height: 100%;
background: blue;
font-size: 12px;
}

.sidebar {
background: violet;
width: 30%;
height: 100%;
float: left;
background-color: magenta;
}

.center{
height: 90%;
width: 100%;
background: white;
background-color: magenta;
}

.conteiner{
  background:yellow;
  height: 100%;
  width: 100%;
  float: left;
  background-color: magenta;
}


.final{
  width: 100;
  float: left;
  text-align: center;
  font-size: 10px;
}
