.container {
		width:996px;
		margin:0px auto;
		font-size:1em;
	}
	#filmpremi{
		width: 55%;
		height: 55%;
	}
	#premieres{
		display: inline-block;
		padding: 20px;		
		width: 60%;
		height: 300px;
	}
	.movi{
		width: 150px;
		height: 300px;
		margin: 3px;
		border-style: outset;
		border-color: #64FE2E;
	}
	#textBox{
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
		background-color: black;
		color: yellow;
		font-family: arial;
	}
	#publicidad{
		padding: 5px;
		width: 95%;
	    height:  80%;
		display: block;
	}
	#SeeFilm{
		width: 98%;
		height: 50%;
		padding: 10px;
	}
	body{
		background-image: url("image/fondo.jpg");
		color: yellow;
		font-family: arial black;
	}
	div article{
		width: 50%;
		float: left;
	}
    article{
    	display: block;
    	float:right;
    	font-family:  arial black;
    	font-size: 15px;
        width: 70%;
        height: 50%;
        background: -webkit-linear-gradient(top, #0B3B2E, blue);
       background: -moz-linear-gradient(top, #0B3B2E, blue);
       -moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
    }
	label{
		font-family: arial black;
		font-size: 25px;
		color: yellow;
	}
	select, #Button{
		color:black;
		font-family: arial black;
		border-color:#0B3B2E; 
		background: -webkit-linear-gradient(top, #0B3B2E, yellow);
       background: -moz-linear-gradient(top, #0B3B2E, yellow);
       -moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;

	}
	section,aside {
		padding: 10px;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
		-moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
        -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
       background: -webkit-linear-gradient(top, #0B3B2E, black);
       background: -moz-linear-gradient(top, #0B3B2E, black);
	}
	section {
		display: block;
		float: left;
		width: 70%;
	}
	aside {
		float: right;
		display: block;
		width: 25%;
		-moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
        -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
	}
	nav {
		display: block;
		font-size: 25px;
		font-family: arial black;
  		overflow: hidden;
	}
	nav ul {
		list-style-type:none;
		float:left;
		padding:10px;
		display: inline;
	}
	nav ul li {
		float:left;
		padding:3px 10px;
		margin:2px;
		background:#0B3B2E;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
		-moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
        -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
        background: -webkit-linear-gradient(top, #0B3B2E, black);
        background: -moz-linear-gradient(top, #0B3B2E, black);
        -moz-transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
	}
	footer {
		display: block;
		text-align:center;
		clear:both;
		-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
		-moz-box-shadow: rgb(150,150,150) 5px 5px 10px;
        -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px;
        background: -webkit-linear-gradient(top, #0B3B2E, black);
        background: -moz-linear-gradient(top, #0B3B2E, black);}
	section li{
		display: inline;
		list-style-type: none;
		font-family: arial black;
	}
	li{
		list-style-type: none;
	}
	nav li{
		display: inline;
	}
	a{
		color:yellow;
		font-family: arial black;
	}
 
	/* para 980px o menos */
	@media screen and (max-width:980px) {
		.container {
			width:98%;
		}
		section {
			width:68%;
		}
	}
 
	/* para 700px o menos */
	@media screen and (max-width:700px) {
		aside,section {
			float:none;
			width:96%;
		}
		nav, section {
			font-size:1.2em;
		}
		aside {
			margin-top:5px;
		}
		nav ul {
			float:none;
			clear:both;
		}
	}
 
	/* para 480px o menos */
	@media screen and (max-width:480px) {
		aside {
			display:none;
		}
		nav, section {
			font-size:1.5em;
		}
		section {
			width:94%;
		}
		nav ul {
			float:left;
			clear:none;
			width:50%;
		}
		nav ul li {
			float:none;
		}
	}