<div *ngIf='artist'>
  <header>
    <div>
      <div class="text-header">
        <h3>{{artist.name}}</h3><br>
       <!--  <iframe [src]='transformUrl(id)' width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe><br> -->
        <span *ngIf='artist.genres.length > 0'>
            Genres: <span *ngFor='let gen of artist.genres' class="badge badge-secondary gen">{{gen}}</span>
        </span>  
      </div>
      <!-- <div *ngIf='artist.images.length > 0' class="img-header">
        <img src={{artist.images[0]?.url}} alt='{{artist.name}}' class="circle">
      </div> -->
      <iframe [src]='transformUrl(id)' width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true" class="img-header"></iframe><br>
    </div>
    <div style="clear:both"></div>
  </header>
  <div style="clear:both"></div>
  <div class="artist-albums container"> 
    <div class="row">
      <div *ngFor='let album of albums' class='col-md-3'>
        <div>
          <div class="well album">
            <div *ngIf='album.images.length > 0'>
              <img src="{{album.images[0].url}}" alt="{{album.name}}" class='album-thumb '>
              </div>
              <h6>{{album.name}}</h6>
              <a href='https://open.spotify.com/album/{{album.id}}' target="_blank" >Open on Spotify</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>