header {
    border-bottom: 1px solid white;
    
    margin: 20px;
    text-align: left;
}

.img-header {
    float: right;
}

.text-header {
    float: left;
}

header img {
    float: right;
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 100%;
} 

header h3 {
    display: inline;
}

.artist-albums .well{
    margin: 5px;
    overflow: auto;
    min-height: 300px;
}

.album {
    border: white 1px solid;
    padding: 5px;
}

.album-thumb{
    width: 100%;
}

.gen{
    margin: 5px;
    font-weight: lighter;
}

iframe{
    display: inline;
}

